*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}

.video_cont{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.video_cont video{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    bottom: 0;
}

.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
    z-index: 1;

}

.startmenu{
    position: absolute;
    bottom: -700px;
    width: 100%;
    display: flex;
    transition: 0.4s ease-in-out;
    justify-content: center;
}

.startmenu img{
    border-radius: 1rem;
}